//  colors

// primary

$color_primary_white: #ffffff;
$color_primary_teal: #00BCD4;
$color_primary_teal_light: #B2EBF2;
$color_primary_grey: #f7f2f2;
$color_primary_grey-2: #9E9E9E ;

// secondary 
$color_secondary_teal: #0097A7;
$color_secondary_grey: #757575;

// fonts

$primary-font-size: 1.5rem;
$medium-font-size: 2rem;
$large-font-size: 2.5rem;